In [1]:
import pandas as pd

## Задача №1
С использованием Pandas написать функцию, которая загружает указанные года и выводит ТОП-3 популярных имен. Например:

```python    
count_top3([1880]) == ['John', 'William', 'Mary']
count_top3([1900, 1950, 2000]) == ['James', 'John', 'Robert']

In [6]:
def count_top3(years: list) -> list:
    result = pd.DataFrame()
    for year in years:
        file_path = 'data\yob{}.txt'.format(year)    
        
        try:
            file = pd.read_csv(file_path, names=['Имя', 'Пол', 'Количество'])
        except FileNotFoundError:
            print(f'Файл не найден.')

        result = pd.concat([result, file])
    result = result.groupby(['Имя']).sum()[['Количество']]
    result = result.sort_values(['Количество'], ascending=False).head(3)
    result.reset_index(inplace=True)
    result.squeeze()
    return list(result['Имя'])

In [8]:
top3 = count_top3([1900, 1950, 2000])

top3

['James', 'John', 'Robert']

## Задача №2
С использованием Pandas написать функцию, которая возвращает динамику изменения количества имен за указанные года в разрезе полов. Например:

```python      
count_dynamics([1900, 1950, 2000]) == {
  'F': [299810, 1713259, 1814922],
  'M': [150486, 1790871, 1962744]
}
```

In [11]:
def count_dynamics(years: list):
    result = pd.DataFrame()
    for year in years:
        file_path = 'data\yob{}.txt'.format(year)    
        
        try:
            file = pd.read_csv(file_path, names=['Имя', 'Пол', 'Количество'])
        except FileNotFoundError:
            print(f'Файл не найден.')
        file['Год'] = year
        result = pd.concat([result, file])
    result.set_index(['Пол', 'Год'], inplace=True)
    return result.groupby(['Пол', 'Год']).sum()

In [12]:
count_dynamics([1900, 1950, 2000])

          Количество
Пол Год
F   1900      299798
    1950     1713065
    2000     1815295
M   1900      150480
    1950     1790437
    2000     1963202